/* Add some global styles here! */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;700&family=Roboto:ital,wght@0,100;0,300;1,100;1,300;1,400&display=swap");

:root {
  --red: rgb(208, 67, 12);
  --base-bg: #f1f3f5;
}

button.btn-small {
  font-size: 80%;
}

button.button-error {
  color: white;
  background: var(--red);
}

a.button {
  color: #212529;
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

body {
  font-family: "Noto Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans", sans-serif;
}

.global-button {
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4065f6;
  color: white;
  border: none;
  border-radius: 10px;
  width: 100%;
}
